* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  display: flex;
  margin: 0;
  font-family: sans-serif;
  justify-content: center;
  margin-top: 250px;
}
.card {
  position: relative;
  width: 300px;
  height: 400px;
  perspective: 500px;
}
.card-front,
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-size: cover;
  background-position: center;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 0.6);
  transition: rotate 3s;
  backface-visibility: hidden;
}
.card-front {
  background-image: url(../assets/images/abby.jpg);
  rotate: y 180deg;
}
.card-back {
  background-image: url(../assets/images/last-of-us-back.jpeg);
}

@media (hover: hover) {
  .card:hover .card-front {
    rotate: y 360deg;
  }
}
@media (hover: hover) {
  .card:hover .card-back {
    rotate: y 180deg;
  }
}
